#main {
  display: flex;
  justify-content: space-evenly;
}

#login {
  display: flex;
  flex-direction: column;
}

#login input {
  border-radius: 6px;
  margin-bottom: 10px;
}

#login a {
  margin: 10px auto;
  text-decoration: none;
}