#admin-content div{
  background: #c4c4c4;
  color: #313131;

  font-size: 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  margin: 2.5rem;
}

#admin-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#admin-content p{
  display: flex;
  align-items: center;
}

#admin-content li{
  display: flex;
  align-items: center;
}