#admin-content div{
  background: #c4c4c4;
  color: #313131;

  font-size: 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  margin: 2.5rem;
}

#admin-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#admin-content button{
  display: flex;
  align-items: center;

  color: #313131;
  border: 1px solid #c4c4c4;
  background: #c4c4c4;

  transition: 0.2s;
}

#admin-content button:hover{
  opacity: 0.6;
}

#admin-content li{
  display: flex;
  align-items: center;
}