#main {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 10rem;
  padding: 5rem;
}

#signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signin form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#signin input {
  border-radius: 6px;
  margin-bottom: 10px;
  color: #313131;
}

#signin button {
  display: flex;

  border-radius: 6px;
  border: 1px solid #c4c4c4;
  background: #c4c4c4;
  color: #313131;
  
  width: 32rem;
  padding: 0.5rem;

  transition: 0.2s;
}

#signin button:hover {
  opacity: 0.6;
}

#signin a {
  margin: 10px auto;
  text-decoration: none;
  color: #c4c4c4;

  transition: 0.2s;
}

#signin a:hover {
  opacity: 0.6;
}
