#main {
  margin: 20px;
  
  /* display: grid;
  /* grid-template-rows: 450px 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "img" "data"; */
}
#main header img {

  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

#main #content {
  flex-direction: column;
}

.data {
  background: #c4c4c4;
}


